.s-hero{
    width: 100%;
    height: 78.6rem;
    background: url(../img/bg-hero.svg) no-repeat center;
    padding-top: 17.5rem;
    .s-hero-mobile{
        display: none;
    }
    .container{
        @include flex(row, flex-start, space-between);
    }
    .text{
        width: 100%;
        max-width: 68.4rem;
        h3{
            opacity: 0.8;
            color: $white;
            font-weight: 600;
            margin-bottom: 3.2rem;
        }
        h1{
            color: $white;
            margin-bottom: 3.9rem;
        }
        button{
            margin-bottom: 6.4rem;
        }
        ul{
            @include flex(row, center, space-between);
            width: 100%;
            max-width: 62.1rem;
            li{
                @include flex(row, center, space-between);
                .icon{
                    width: 4.8rem;
                    height: 4.8rem;
                    @include flex(row, center, center);
                    background: linear-gradient(180deg, rgba(53, 202, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
                    border-radius: 50%;
                    margin-right: 1.2rem;
                }
                span{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: $white;
                }
            }
        }
    }
    .area-image{
        width: 100%;
        max-width: 70.6rem;
        margin-right: -17.4rem;
        h2{
            text-align: center;
            color: $white;
            opacity: 0.4;
            margin-bottom: 6.7rem;
            font-weight: 600;
            top: 4.3rem;
        }
        .image{
            position: relative;
            width: 100%;
            height: 54.1rem;
            top: 3.5rem;
            img{
                position: absolute;

            }
            .card-front{
                top: 4.1rem;
                left: 0;
                z-index: 2;
                max-width: 43.5rem;
            }
            .card-back{
                bottom: 4.6rem;
                right: 8.76rem;
                z-index: 1;
                max-width: 35.2rem;
            }
            .card-circle{
                top: 2.8rem;
                right: 4.665rem;
                z-index: 0;
                max-width: 55.3rem;
            }
        }
    }
    @include responsive(1440px){
        .area-image{
            margin-right: -13.4rem;
        }
    }
    @include responsive(1366px){
        .area-image{
            margin-right: -8rem;
            .image{
                .card-back{
                    right: 4rem;
                }
            }
        }
    }
    @include responsive(1050px){
        height: 65.6rem;
        padding-top: 14.5rem;
        .text{
            button{
                margin-bottom: 0;
            }
            ul{
                 margin-top: 4.5rem;
                li{
                    span{
                        font-weight: 400;
                        font-size: 16.4685px;
                        line-height: 20px;
                    }
                }
            }
        }
        .area-image{
            margin-right: -10px;
            h2{
                margin-bottom: 1.5rem;
            }
            .image{
                height: 45rem;
                .card-front{
                    max-width: 35rem;
                    top: 8rem;
                }
                .card-back{
                    max-width: 29rem;
                    bottom: 0;
                }
                .card-circle{
                    max-width: 46rem;
                }
            }
        }
    }
    @include responsive(991px){
        height: 89.1rem;
        background-size: cover;
        .container{
            flex-direction: column;
            align-items: center;
        }
        .text{
            margin-bottom: 5rem;
            @include flex(column, center, center);
            h3{
                font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: -0.5px;
                text-align: center;
                margin-bottom: 2.4rem;
            } 
            h1{
                text-align: center;
                font-weight: 600;
                font-size: 48px;
                line-height: 112%;
                width: 100%;
                max-width: 68.5rem; 
                margin-bottom: 2.6rem;
            }
            h2{
                margin-bottom: 0;
            }
            ul{
                margin-top: 3.9rem;
                li{
                    
                    span{
                        font-weight: 400;
                        font-size: 1.346rem;
                        line-height: 20px;
                    }
                }
            }
        }
        .area-image{
            width: 100%;
            max-width: 51.117rem;
            .image{
                top: 0;
                height: 42.4rem;
                .card-circle{
                    max-width: 42.978rem;
                    top: 0;
                    right: 1.3rem;
                }
                .card-front{
                    max-width: 34.062rem;
                    top: 3.581rem;
                    right: 0;
                }
                .card-back{
                    max-width: 27.431rem;
                    right: 2.98rem;
                    bottom: 3.686rem;
                }
            }
            h2{
                margin-bottom: 2.4rem;
            }
            
        }

    }
    @include responsive(480px){
        padding-top: 12.4rem;
        height: 75rem;
        .text{
            h3{
                margin-bottom: 1.5rem;
            }
            h1{
                width: 100%;
                max-width: 32.1rem;
                font-weight: 600;
                font-size: 32px;
                line-height: 112%;
                text-align: center;
                letter-spacing: -0.5px;
                margin-bottom: 3.7rem;
            }
            ul{
                margin-top: 3.7rem;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 6.1rem;
                li{
                    max-width: 100%;
                    justify-content: left;
                    &:not(:last-child){
                        padding-bottom: 2rem;
                    }
                    .icon{
                        width: 2.5rem;
                        height: auto;
                        background-color: transparent;
                    }
                    .s-hero-mobile{
                        display: block;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    .s-hero-desktop{
                        display: none;
                    }
                }
            }
        }
        .area-image{
            height: 24.81rem;
            align-items: center;
            .image{
                height: 24.81rem;
            }
            h2{
                display: none;
            }
            width: 100%;
            max-width: 31.799rem;
            .card-circle{
                width: 26.736rem;
                right: 0;
                top: 0;
            }
            .card-front{
                width: 21.189rem;
                top: 2.9rem;
                left: 0;
            }
            .card-back{
                width: 17.064rem;
                right: 0.64rem;
                top: 9.23rem;
            }
        }
        
    }
}
.card-neon{
    padding-top: 12.9rem;
    .container{
        @include flex(row, flex-start, space-between);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left-area{
            width: 100%;
            max-width: 27.7rem;
            .ilustracao{
                width: 100%;
                max-width: 27.7rem;
                position: relative;
                margin-bottom: 12.9rem;
            }
            .mockup{
                z-index: 1;
                position: relative;
            }
            .circle-mockup{
                position: absolute;
                z-index: 0;
                top: 8.7rem;
                left: -21.4rem;
                max-width: 37.7rem;
            }
            .text{
                width: 100%;
                @include flex(column, center, center);
                .icon{
                    padding-bottom: 3.1rem;
                    position: relative;
                    &:before{
                        content: "";
                        width: 0.5rem;
                        height: 8.3rem;
                        background: url("../img/points.svg") no-repeat center center;
                        position: absolute;
                        top: -10.4rem;
                        left: 50%;
                        margin-left: -0.25rem;
                    }
                }
                h3{
                    padding-bottom: 3.5rem;
                    text-align: center;
                    color: $grey-600;
                }
                p{
                    padding-bottom: 2.6rem;
                    text-align: center;
                    opacity: 0.8;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: $grey-400;
                }
                ul{
                    li{
                        &:first-child{
                            margin-bottom: 2.6rem;
                        } 
                    }
                }
                
            }
        }
        .right-area{
            width: 100%;
            max-width: 80rem;
            padding-top: 4rem;
            h2{
                max-width: 44.8rem;
                color: $grey-600;
                margin-bottom: 1.6rem;
            }
            .info{
                display: flex;
                padding-top: 3.7rem;
            }
            ul{
                margin-bottom: 3.2rem;
                li{
                    @include flex(row, center, space-between);
                    height: 12.8rem;
                    border-bottom: 1px solid rgba(255, 224, 231, 0.8);
                    .texts{
                        margin-left: 4.3rem;
                    }
                    .icon{
                        padding-right: 4.3rem;
                        padding: 3.3rem 0;
                        &:first-child{
                            padding-top: 0;
                        }
                    }
                    h3{
                        color: $grey-400;
                    }
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        color: $grey-300;
                    }
                }
            }
            .conheca{
                display: inline-block;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 112%;
                color: $brand-blue;
                letter-spacing: -0.5px;
                margin-bottom: 14.4rem;
            }
            .banner{    
                width: 100%;
                height: 41rem;
                background: url("../img/bg-pejota.svg") no-repeat center center;
                border-radius: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .cartao-pejota{
                    margin-right: -3.1rem;
                }
                .text-banner{
                    width: 100%;
                    max-width: 38rem;
                    padding-left: 5.9rem;
                }
                h2{
                    color: $white;
                    margin-bottom: 1.1rem;
                }
                h3{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 150%;
                    color: $white;
                    letter-spacing: -0.5px;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: $white;

                }
                .buttons{
                    display: flex;
                    align-items: center;
                    button{
                        &:first-child{
                            margin-right: 1.6rem;
                        }
                    }
                }
                
            }

        }
    }
}
.s-card-depoimentos{
    margin-top: 13.4rem;
    .top{
        @include flex(row, flex-end, space-between);
        margin-bottom: 4rem;
        h2{
            span{
                font-family: 'Poppins', sans-serif;
                display: block;
                margin-bottom: 1.4rem;
                color: $grey-200;
            }
            color: $grey-600;
        }
        .swiper-pagination{
            position: relative;
            max-width: 6rem;
            .swiper-pagination-bullet{
                background: $brand-yellow;
                opacity: 0.3;
                border-radius: 12px;
                height: 0.7rem;
                transition: all .3s;
                &:not(:first-child){
                    margin-left: 0.4rem;
                }
                &-active{
                    background: $brand-yellow;
                    opacity: 1;
                    border-radius: 12px;
                    width: 1.723rem;
                    height: 0.7rem;
                }
            }
        }
    }
    .slide-depoimentos{
        overflow: hidden;
    }
}
.s-conta-digital{
    margin-top: 13.4rem;
    margin-bottom: 8.5rem;
    .texts{
        width: 100%;
        max-width: 54.2rem;
    }
    span{
        padding-bottom: 0.9rem;
        color: $grey-200;
        display: block;
    }
    h2{
        margin-bottom: 4.5rem;
    }
    .card-inter{
        padding: 1.5rem 1.2rem;
    }
    .tx-zero{
        padding: 1.3rem 1.7rem;
    }
    .poupanca{
        padding: 1.3rem 1.7rem;
    }
    .card-inter,
    .tx-zero,
    .poupanca{
        margin-right: 2.6rem;
        background: #00D7D7;
        border-radius: 8px;
    }
    ul{
        li{
            align-items: center;
            display: flex;
            &:not(:last-child){
                margin-bottom: 3.7rem;
            }
            &:last-child{
                margin-bottom: 4.9rem;
            }
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: $grey-300;
                color: #7A7786;
            }
            h4{
                color: $grey-400;
            }
            
        }
    }
    .container{
        display: flex;
        align-items: center;
        .image{
            position: relative;
            width: 100%;
            max-width: 71.194rem;
            height: 59.8rem;
            right: -16.29rem;
            img{
                position: absolute;
                &.circle{
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
                &.mockup01{
                    right: 48.662rem;
                    top:7.859rem;
                    z-index: 2;
                }
                &.mockup02{
                    top: 0;
                    right: 23.336rem;
                    z-index: 1;
                }
            }
        }
        

    }
       
}
footer{
    background-color: $brand-blue;
    .top{
        padding: 4.9rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px rgba(73, 197, 253, 0.2) solid;
        ul{
            display: flex;
            li{
                &:not(:first-child){
                    padding-left: 3rem;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 125%;
                    color: $white;
                    opacity: 0.7;
                }
            }
        }
    }
    .mid{
        display: flex;
        padding: 5.7rem 0 6.2rem 0;
        justify-content: space-between;
        border-bottom: 2px rgba(73, 197, 253, 0.2) solid;
        h4{
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
            color: $white;
        }
        ul{
            li{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $white;
                &:not(:first-child){
                    opacity: 0.7;
                    padding-top: 2.9rem;
                }
            }
        }
        .boxes{
            .atendimento,
            .imprensa{
                width: 100%;
                max-width: 28rem;
                display: flex;
                padding: 1.7rem 1.5rem;
                background-color: rgba(0, 165, 240, 0.23);
                border-radius: 6px;
                &:first-child{
                    margin-bottom: 2.4rem;
                }
                .txt{
                    padding-left: 2.4rem;
                    color: $white;
                    p{
                        font-family: 'Inter', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
    .bottom{
        display: flex;
        padding: 3.9rem 0 3.4rem 0;
        border-bottom: 4px #FFC800 solid;
        span{
            font-family: 'Proxima Nova', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }
        p{
            margin-left: 2.5rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $white;
            opacity: 0.8;
            width: 100%;
            max-width: 66rem;
        }
    }
}